<!-- app/views/orders/new.html.erb -->
<h1>Checkout</h1>

<% if @cart.cart_items.any? %>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.product.name %></td>
          <td><%= cart_item.quantity %></td>
          <td><%= cart_item.product.price %></td>
          <td><%= cart_item.quantity * cart_item.product.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>Total: <%= @cart.cart_items.sum { |cart_item| cart_item.quantity * cart_item.product.price } %></p>
  <%end%>


