<div class="container mt-5">
    <%= render_breadcrumbs %>
  <div class="row">
  	<h2>New products</h2>
  	<br>
  	<br>
  	<br>
    <%= form_tag(products_path, method: 'get', class: 'form-inline product-type') do %>
      <div class="form-group">
        <%= label_tag 'product_type', 'Filter by Type:', class: 'mr-2' %>
        <%= select_tag 'product_type', options_for_select(Product.product_types.keys, params[:product_type]), { include_blank: true, class: 'form-control' } %>
      </div>
      <%= submit_tag 'Filter', class: 'btn btn-primary ml-2' %>
    <% end %>
    <% @new_products.each do |product| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%if product.thumbnail.present?%>
             <%= image_tag product.thumbnail %>
          <%else%>
            <img src="https://via.placeholder.com/300" class="card-img-top" alt="Product Image">
          <%end%>
          <div class="card-body">
            <h5 class="card-title">
            <%= link_to product.name, product_path(product) %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><strong>Price:</strong> $<%= product.price %></p>
            <%= form_with(model: @cart, url: carts_path, method: :post) do |form| %>
              <%= form.hidden_field :product_id, value: product.id %>
              <%= form.submit 'Add to Cart', class: 'btn btn-primary' %>
            <% end %>
              <%#= link_to 'Add to Cart', add_to_cart_path(@product), method: :post, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
  	<h2>Recenlty updated products</h2>

  	<br>
  	<br>
  	<br>

    <% @recent_products.each do |product| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%if product.thumbnail.present?%>
             <%= image_tag product.thumbnail.url %>
          <%else%>
            <img src="https://via.placeholder.com/300" class="card-img-top" alt="Product Image">
          <%end%>
          <div class="card-body">
            <h5 class="card-title">
            <%= link_to product.name, product_path(product) %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><strong>Price:</strong> $<%= product.price %></p>
            <%= form_with(model: @cart, url: carts_path, method: :post) do |form| %>
              <%= form.hidden_field :product_id, value: product.id %>
              <%= form.submit 'Add to Cart', class: 'btn btn-primary' %>
            <% end %>
              <%#= link_to 'Add to Cart', add_to_cart_path(@product), method: :post, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
</div>
  <div class="row">
  	<h2>Sale products</h2>

  	<br>
  	<br>
  	<br>

    <% @sale_products.each do |product| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%if product.thumbnail.present?%>
             <%= image_tag product.thumbnail.url %>
          <%else%>
            <img src="https://via.placeholder.com/300" class="card-img-top" alt="Product Image">
          <%end%>
          <div class="card-body">
            <h5 class="card-title">
            <%= link_to product.name, product_path(product) %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><strong>Price:</strong> $<%= product.price %></p>
            <%= form_with(model: @cart, url: carts_path, method: :post) do |form| %>
              <%= form.hidden_field :product_id, value: product.id %>
              <%= form.submit 'Add to Cart', class: 'btn btn-primary' %>
            <% end %>
              <%#= link_to 'Add to Cart', add_to_cart_path(@product), method: :post, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>