

<div class="container mt-5">
  <h1>Address 			<%= link_to "Add New Address",  new_customer_address_path(@customer), class: "btn btn-sm btn-primary" %></h1>
  <div class="row">
  	<% if @addresses.present?%>
	    <% @addresses.each do |address| %>
	      <div class="col-md-4 mb-4">
	        <div class="card">
	          <div class="card-body">
	            <h5 class="card-title">
	            <p class="card-text">Type: <%= address.street_address %></p>
	            <p class="card-text">Type: <%= address.address_type %></p>
	            <p class="card-text">Type: <%= address.zip_code %></p>
	            <p class="card-text">City:  <%= address.city %></p>
	            <p class="card-text">City:  <%= address.state %></p>
	            <p class="card-text">City:  <%= address.country %></p>

	<%= link_to "Edit Address", edit_customer_address_path(@customer,address), class: "btn btn-warning btn-sm" %>
	          </div>
	        </div>
	      </div>
	    <% end %>
		<% end %>
  </div>
</div>
