<div class="row navbar navbar-expand-lg navbar-light bg-light">
  <div class="col-md-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Online Store', products_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <% if customer_signed_in? %>
              <%= link_to "My Account", customer_path, class: "nav-link" %>
            <% else %>
              <%= link_to "Sign In", new_customer_session_path, class: "nav-link" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'Your Orders', orders_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Products', products_path, class: 'nav-link' %>
            <!-- <a class="nav-link" href="#">Products</a> -->
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>

      </div>
    </nav>
    
  </div>


  <div class="col-md-6">
    <%= form_with(url: products_path, method: 'get',class: "form-inline my-2 my-lg-0") do |form| %>
  <%= text_field_tag :query, params[:query], placeholder: 'Search for products...',class: "form-control mr-sm-2" %>
  <%= submit_tag 'Search', class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>

    
  </div>
  <div class="col-md-2 ">
    <ul class="navbar-nav mr-auto float-right">
          <li class="nav-item">
            <%= button_to "View Cart", carts_path, method: :get, class: "btn btn-primary" %>
          </li>
        </ul>
          
  </div>
</div>
