<div class="row navbar navbar-expand-lg navbar-light bg-light">
  <div class="col-md-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Online Store', products_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <% if customer_signed_in? %>
              <%= link_to "My Account", customer_path, class: "nav-link" %>
            <% else %>
              <%= link_to "Sign In", new_customer_session_path, class: "nav-link" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'Your Orders', orders_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Products', products_path, class: 'nav-link' %>
            <!-- <a class="nav-link" href="#">Products</a> -->
          </li>
          <li class="nav-item">
            <% if customer_signed_in? %>
              <%= link_to 'Logout', destroy_customer_session_path, method: :delete, class: 'btn btn-danger' %>
            <% end %>
            <!-- <a class="nav-link" href="#">Products</a> -->
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-md-6">
    <%= render 'shared/search_form' %>
  </div>
  <div class="col-md-2 ">
    <ul class="navbar-nav mr-auto float-right">
      <li class="nav-item">
        <a href="<%= cart_path %>" class="view-cart-button">View Cart<%#= cart_path %></a>
      </li>
    </ul>
  </div>
</div>
